body,html {
    height:100%;
    margin:0;
    font-family:Arial,sans-serif
}

#container {
display:flex;
height:100%
}

#sidebar {
    width:150px;
    background-color:#333;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
    position:relative;
    padding-bottom:50px
}

.sidebar-bottom {
    position:absolute;
    bottom:0;
    width:100%
}

.sidebar-divider {
    border:0;
    height:1px;
    background-image:linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));
    margin:20px 0
}

.icon-button {
    background:none;
    border:none;
    color:white;
    font-size:1.5em;
    width:100%;
    padding:10px;
    cursor:pointer
}

.icon-button:hover {
    background-color:#555
}

.icon-button i {
    margin-right:5px
}

#user-profile img {
    width:100px;
    height:100px;
    border-radius:50%;
    margin-bottom:10px
}

#menu button {
    background-color:#444;
    color:white;
    padding:10px 20px;
    margin:10px 0;
    border:none;
    cursor:pointer
}

#menu button:hover {
    background-color:#555
}

#main-content {
    flex-grow:1;
    padding:20px;
    background-color:rgb(164,164,164)
}

#simplex-table {
    border-collapse:separate;
    border-spacing:0;
    width:100%;
    margin-bottom:20px;
    color:white
}

#simplex-table th,#simplex-table td {
    background:linear-gradient(45deg,rgb(62, 29, 29) 0%,rgb(175, 55, 34) 100%);
    padding:10px;
    text-align:center;
    border:1px solid #554177
}

#simplex-table th {
    background:linear-gradient(180deg,rgb(66, 22, 133) 0%,#400851 100%)
}

#simplex-table input[type="number"] {
    width:100%;
    padding:5px;
    border:none;
    background:rgba(255,255,255,0.3);
    color:white;
    text-align:center
}

#simplex-table input[type="number"]:focus {
    background:rgba(255,255,255,0.5);
    outline:none
}

#simplex-table {
    width:100%;
    border-collapse:collapse;
    margin-bottom:20px
}

#simplex-table td {
    border:1px solid #ddd;
    padding:8px
}

#simplex-table input[type="number"] {
    width:100%;
    padding:5px;
    margin:2px 0;
    border:1px solid #ddd;
    box-sizing:border-box
}

#solution-tabs button {
    padding:10px 20px;
    margin-right:10px;
    border:1px solid #ddd;
    background-color:#fff;
    cursor:pointer
}

#solution-tabs button.active {
    border-bottom:2px solid blue
}

#solution {
    padding:20px;
    background-color:#fff;
    border:1px solid #ddd
}

.tab-button {
    background-color:#f1f1f1;
    border:none;
    outline:none;
    cursor:pointer;
    padding:14px 16px;
    transition:background-color .3s;
    font-size:17px
}

.tab-button:hover {
    background-color:#ddd
}

.tab-button.active,.tab-button.active:hover {
    background-color:#ccc
}

.tab-content {
    display:none;
    padding:20px;
    border:1px solid #ccc;
    border-top:none
}

.tab-content.active {
    display:block
}

.table-container {
    display:flex;
    justify-content:space-between
}

.table-buttons {
display:flex;
flex-direction:column;
padding:0 10px
}

.table-buttons button {
background-color:#5f3180;
border:none;
color:white;
padding:15px 32px;
text-align:center;
text-decoration:none;
display:inline-block;
font-size:16px;
margin:4px 2px;
cursor:pointer;
border-radius:50px;
box-shadow:0 4px #999
}

.table-buttons button:hover {
background-color:#43235b;
}

.table-buttons button:active {
background-color:#2b153a;
box-shadow:0 2px #666;
transform:translateY(1px)
}