<div id="input_form">
    <div>
        <label for="variables">Количество переменных:</label>
        <select id="variables" name="variables">
        </select>
      </div>
      
      <div>
        <label for="constraints">Количество ограничений:</label>
        <select id="constraints" name="constraints">
        </select>
      </div>
      
      <div id="targetFunction" name="targetFunction">
        <!-- Здесь будуе поля для ввода целевой функции -->
      </div>
      <div id="constraintsDiv" name="constraintsDiv">
        <!-- Здесь будут поля ввода для ограничений -->
      </div>
      <div>
        <input type="checkbox" id="positive-solutions"> Добавить ограничение неотрицательности
      </div>
      <div id="error-message" style="color: red;">

      </div>
</div>