<div id="input_form">
    <div>
        <label for="variables">Количество переменных:</label>
        <select id="variables" name="variables">
        </select>
      </div>
      
      <div>
        <label for="constraints">Количество ограничений:</label>
        <select id="constraints" name="constraints">
        </select>
      </div>
      
      <div id="targetFunction" name="targetFunction">
        <!-- Здесь будет форма для ввода целевой функции -->
      </div>
      <div id="constraintsDiv" name="constraintsDiv">
        <!-- Здесь будут появляться поля ввода для ограничений -->
      </div>
</div>