<section id="solution">
  <div id="solution-tabs"> 
    <button class="tab-button active" onclick="openTab(event, 'simplex-method')">Симплекс-метод</button> 
    <button class="tab-button" onclick="openTab(event, 'evolutionary-algorithm')">Эволюционный алгоритм</button> 
  </div>
  <section id="solution-content">
      <div id="simplex-method" class="tab-content active">
          <div class="table-buttons"> 
            <button id="simplex-solve" value="simplex-solve">Решить</button>
          </div>
      </div>
      <div id="evolutionary-algorithm" class="tab-content">
        <div class="table-buttons"> 
          <button id="evolution-solve" value="simplex-solve">Эволюция</button>
        </div>
      </div>
  </section>
</section>